DOCKER_USERNAME=itmp9
GATEWAY_PORT=9000
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=change-me
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
